
<div class=" bg-white col-start-3 col-end-11 row-start-1 row-end-2 flex shadow-lg flex-col px-8 mx-auto mt-14">
 <h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field flex flex-col w-fit text-left mx-auto h-fit my-4 gap-1">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  
  <div class="field flex flex-col w-fit text-left mx-auto h-fit my-4 gap-1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

    <div class="actions bg-blue-500 text-center text-white font-semibold py-2 mt-8 mb-2 cursor-pointer">
      <%= f.submit "Sign up" %>
    </div>

<% end %>

 <div class="actions bg-blue-500 text-center text-white font-semibold py-2 my-4 cursor-pointer">
            <%= render "devise/shared/links", class:"w-full" %>
  </div>
 </div>