<div data-controller="tabs--tab-component" class="tabs-container">
  <div class="tabs">
    <ul class="tabs_head" data-target="tabs--tab-component.tab">
       <li class="tabs_toggle active">
         <a href="#" class="tab-link" data-tab-id="all-groups-tab" data-action="click->tabs--tab-component#switch" data-target="tabs--tab-component.all-groups-tab">All groups</a>
       </li>

        <li class="tabs_toggle">
           <a href="#" class="tab-link" data-action="click->tabs--tab-component#switch" data-tab-id="created-groups-tab" data-target="tabs--tab-component.created">Created by me</a>
        </li>
        <li class="tabs_toggle">
             <a href="#" class="tab-link" data-action="click->tabs--tab-component#switch" data-tab-id="belonging-groups-tab" data-target="tabs--tab-component.member">Belonging to me</a>
        </li>
    </ul>
  </div>
  
  <div class="tabs_body">
      <ul id="all-groups-tab" class="tabs_content active" data-target="tabs--tab-component.content" data-tab-content="tabs--tab-component.all">
        <% @groups.each do |group| %>
            <li>
                <p><%= group.name %></p>
                
                <% if @show_join_button %>
                        <%= link_to 'Join', join_group_path(group), method: :post %>
                <% end %>
            </li>
        <% end %>
      </ul>
    <ul id="created-groups-tab" class="tabs_content" data-tab-content="tabs--tab-component.created">
        <% @groups.each do |group| %>
            <li>
                <p><%= group.name %></p>
                <% if @show_delete_button %>
                        <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </li>
        <% end %>
    </ul>
    <ul id="belonging-groups-tab" class="tabs_content" data-tab-content="tabs--tab-component.member">
       
        <li> 
           <% @groups.each do |group| %>
            <p><%= group.name %></p>
            <% if @show_leave_button %>
                    <%= link_to 'Leave', leave_group_path(group), method: :post %>
            <% end %> 
        </li>
    <% end %>
    </ul>
</div>
</div>