<!DOCTYPE html>
<html>
  <head>
    <title>SimpleroTakeHomeTestRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
   integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
   crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex flex-col">
       <%= render(Navbar::NavbarCardComponent.new) %>
       <%# <%= render(Theme::ThemePickerComponent.new) %> 
       <%# <%= render(Theme::ThemePickerComponent.new(items: ["light", "dark"], selected_item: "light")) %> 
       <%= yield %>
    </main>
    <div id="flashes">
    <% flash.each do |type, msg| %>
      <div class="alert">
        <%= msg %>
      </div>
    <% end %>
  </div>
  </body>
</html>
